@font-face {
  font-family: 'EnglandHandDB';
  src: url('EnglandHandDB.svg#EnglandHandDB') format('svg'),
       url('EnglandHandDB.ttf') format('truetype'),
       url('EnglandHandDB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'england';
  src: url('england.eot');
  src: url('england.eot?#iefix') format('embedded-opentype'),
       url('england.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

