@font-face {
  font-family: 'THEGaeideuk';
  src: url('THEGaeideuk.svg#THEGaeideuk') format('svg'),
       url('THEGaeideuk.ttf') format('truetype'),
       url('THEGaeideuk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THEdog';
  src: url('THEdog.eot');
  src: url('THEdog.eot?#iefix') format('embedded-opentype'),
       url('THEdog.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

