@font-face {
  font-family: 'Kiss Boom';
  src: url('Kiss Boom.eot');
  src: url('Kiss Boom.eot?#iefix') format('embedded-opentype'),
       url('Kiss Boom.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KissBoom';
  src: url('KissBoom.svg#KissBoom') format('svg'),
       url('KissBoom.ttf') format('truetype'),
       url('KissBoom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

